// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Inter");

// Color palette
$DarkBlue100: #609ed4;
$DarkBlue400: #0a3871;
$DarkBlue500: #052051;

$LightBlue100: #f3f5fc;
$LightBlue200: #d8dfe8;
$LightBlue400: #aab2d5;

// Global styles
body {
    font-family: "Inter", sans-serif;
    background-color: $LightBlue100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

h1,
h2,
h3 {
    font-family: "Inter", sans-serif;
}

textarea {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: $DarkBlue400;
    background-color: $LightBlue100;
    border: none;
    outline: none;
    border-style: none;
    width: 100%;
    height: 705px;
}

// Component styles
.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;

    // Para dispositivos móviles (hasta 767px)
    @media only screen and (max-width: 767px) {
        flex-direction: column;

        .encryptArea {
            width: 83%;
            height: 350px;
        }

        .unencryptArea {
            width: 83%;
            height: 350px;
        }
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.unencryptButton,
.encryptButton,
.copyButton {
    width: 328px;
    height: 67px;
    margin: 12px;
    padding: 24px, 24px;
    border-radius: 24px;
    gap: 8px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    border: none;
    cursor: pointer;

    // Para dispositivos móviles (hasta 767px)
    @media only screen and (max-width: 767px) {
        width: 165px;
        height: 48px;
    }

    // Para tablets (entre 768px y 1023px)
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        width: 190px;
    }

    // Para pequeñas pantallas de escritorio (entre 1024px y 1279px)
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
        width: 250px;
    }
}

.encryptArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 72%;
    height: 1024px;
    padding: 24px;
    margin: 12px;
    border-radius: 24px;

    // Para dispositivos móviles (hasta 767px)
    @media only screen and (max-width: 767px) {
        width: 72%;
        height: 472px;
    }

    // Para tablets (entre 768px y 1023px)
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        width: 72%;
        height: 708px;
    }

    // Para pequeñas pantallas de escritorio (entre 1024px y 1279px)
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
        width: 72%;
        height: 826px;
    }

    // Para grandes pantallas de escritorio (1280px y más)
    @media only screen and (min-width: 1280px) {
        width: 72%;
        height: 800px;
    }
}

.logo {
    height: 48px;
    margin: 12px;

    // Para dispositivos móviles (hasta 767px)
    @media only screen and (max-width: 767px) {
        width: 180px;
    }
}

.unencryptArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 28%;
    height: 800px;
    flex-shrink: 0;
    border-radius: 32px;
    background-color: white;
    padding: 24px;
    margin: 12px;
    overflow: auto;
    text-wrap: wrap;

    // Para dispositivos móviles (hasta 767px)
    @media only screen and (max-width: 767px) {
        width: 70%;
        height: 472px;

        h2 {
            font-size: 20px;
            padding: 0;
            margin: 0%;

        }

        p {
            padding: 0;
            margin: 5px;
            font-size: 16px;
        }
    }

    .dummy {
        width: 100%;
        height: auto;

        // Para dispositivos móviles (hasta 767px)
        @media only screen and (max-width: 767px) {
            width: 60%;
        }
    }

    // Para dispositivos móviles (hasta 767px)
    @media only screen and (max-width: 767px) {
        width: 72%;
        height: 472px;
    }

    // Para tablets (entre 768px y 1023px)
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        width: 28%;
        height: 708px;
    }

    // Para pequeñas pantallas de escritorio (entre 1024px y 1279px)
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
        width: 28%;
        height: 810px;
    }

    // Para grandes pantallas de escritorio (1280px y más)
    @media only screen and (min-width: 1280px) {
        width: 28%;
        height: 810px;
    }

    //Shadow
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .p {
        font-size: 24px;
        color: $DarkBlue400;
    }
}

.unencryptButton {
    background-color: $LightBlue200;
    color: $DarkBlue500;

    // Para dispositivos móviles (hasta 767px)
}

.encryptButton {
    background-color: $DarkBlue500;
    color: white;
}

.copyButton {
    background-color: $DarkBlue500;
    color: white;
    position: absolute;
    bottom: 40px;

    //Dispositivos de 640px a 767px
    @media only screen and (max-width: 767px) {

        bottom: 60px;
    }

    // Para tablets (entre 768px y 1023px)
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        bottom: 129px;
    }

    // Para pequeñas pantallas de escritorio (entre 1024px y 1279px)
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
        bottom: 20px;
    }

}

.result {
    margin: 0;
    top: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    //Font styles
    font-size: 32px;
    color: $DarkBlue400;
    font-weight: 400;
    text-align: center;
    width: 100%;

    // Para dispositivos móviles (hasta 767px)
    @media only screen and (max-width: 767px) {
        top: 60%;
    }
}